<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>

  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-app>
   

    <ion-content padding >
      <ion-list >
        <ion-list-header>
          <ion-chip color="secondary">
            <ion-label>Conversaciones Recientes</ion-label>
          </ion-chip>
          
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/simi.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Farmacia Simi</h2>
            <h3>El producto se encuentra</h3>
            <p>OK, voy en camino</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/loto.png">
          </ion-avatar>
          <ion-label>
            <h2>Los orientales</h2>
            <h3>Hola, buenos dias</h3>
            <p>Buenas, estoy buscando paracetamol de 600gr..</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/gama.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Farmacia Gama</h2>
            <h3>Me puede enviar su rut para verificar la receta?</h3>
            <p>Claro, mi rut es 12.345.678-0</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/knop.png">
          </ion-avatar>
          <ion-label>
            <h2>Farmacia KNOP</h2>
            <h3>Adjunte recete para verificar..</h3>
            <p>OK. dame un segundo..</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>
          <ion-chip color="success">
            <ion-label>Conectados</ion-label>
          </ion-chip>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/logoesquina.jpg">
          </ion-avatar>
          <ion-label>
            <h2>La esquina</h2>
            <h3>Hola buenas, en que le puedo ayudar?</h3>
            <p>Quiero saber el valor de esta receta...</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/Panonia.png">
          </ion-avatar>
          <ion-label>
            <h2>Panonia</h2>
            <h3>Hola buenos dias</h3>
            <p>Hola que precio tiene paracetamol 600 gr</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/bioplus.png">
          </ion-avatar>
          <ion-label>
            <h2>Bio Plus</h2>
            <h3>Hola, en que te puedo ayudar?</h3>
            <p>Hola, quiero conocer el precio del siguiente ...</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/farmacias/farmaciasanclemente.jpg">
          </ion-avatar>
          <ion-label>
            <h2>San Clemente</h2>
            <h3>Hola buenas tardes</h3>
            <p>Hasta que hora atiende?</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
